@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo_block {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.logo_block img {

    margin: 0 12% 0 0;
}

.logo_block h1 {
    color: #0087a2c4;
    font-size: 60px;
    font-weight: 400;
    font-family: "Josefin Sans";
    font-style: normal;

}

.menu {
    margin-top: 40px;
    width: 100%;
}

.menu_nav {

    display: flex;
    justify-content: space-between;

}

.menu__item {
    font-size: 32px;
    font-family: "Open Sans";
    font-weight: 400;
    text-decoration: none;
    color: white;

}

.menu_nav li {

    list-style: none;
    flex: 0 1 20%;
    text-align: center;
    background-color: #808080;
    padding: 15px 0;
    transition: 0.8s;

}

.menu_nav li:hover {

    background-color: #0088A2;
}

.img__section1 {
    display: flex;
}

.img1 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}

.img__section2 {
    width: 100%;
    height: 280px;
    margin: 4%;
    background: url(../img/img1.jpg) center / cover no-repeat;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sect_m {
    display: flex;
    justify-content: center;
}

.text__1 {

    color: white;
    font-size: 20px;
    text-align: center;


}

.text_m {
    width: 100%;

}

.text_m h2 {
    color: #0087a2c4;
    text-align: center;
    font-weight: normal;
    font-family: "Open Sans";
    font-size: 60px;

}

.img__2 {
    position: relative;
    width: 100%;


}

.big__img {
    width: 100%;
    /* margin-top: 5%; */
    /* border-radius: 10px; */


}

.small__img {
    position: absolute;
    z-index: 2;
    left: 45%;
    bottom: 45%;
}

.sectioin_q {
    width: 100%;
    margin: 100px auto 500px auto;
}

.img__blok4 {
    width: 80%;
    height: 300px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.img__blok4 img {
    flex: 0 1 22%;
    position: absolute;

}

.img__blok4 img:nth-child(1) {

    left: 0%;
}

.img__blok4 img:nth-child(2) {

    left: 18%;
}

.img__blok4 img:nth-child(3) {

    left: 36%;
}

.img__blok4 img:nth-child(4) {

    left: 54%;
}

.img__blok4 img:nth-child(5) {

    left: 72%;
}

.img__blok4 img:nth-child(even) {

    top: 20%;
}

.text__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

h2 {
    color: #0088A2;
    font-size: 60px;
    font-family: "Open Sans";
    font-weight: normal;
    margin-bottom: 5%;
}

p {
    margin-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #707070;
    font-size: 25px;
    width: 65%;
    margin: 0 auto;





}

.downlond {
    text-align: center;
}


.text_downlond {

    color: #0088A2;
    margin-top: 7%;
    font-weight: normal;
    font-size: 50px;
    font-family: "Open Sans";
}


.sect_4 {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10% 0 6% 0;
    width: 100%;
    height: 500px;
    font-weight: 50px;
    font-size: 30px;


}





.text__logo {
    width: 70%;
    text-align: center;
    font-size: 30px;
    font-weight: 100px;
    font-family: "Roboto";
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0088A2;
    width: 100%;
    height: 500px;
}

.footer_blok {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30%;
    height: 250px;

}

.text_some {
    color: aliceblue;
    font-family: "Josefin Sans";
    text-align: center;

}

.section_foot {

    display: flex;
    justify-content: space-between;
    align-items: center;


}

.footer_blok2 {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 250px;


}

.footer_text {

    display: flex;
    justify-content: center;
    flex-direction: column;
    /* width: 300px;
    height: 250px; */
}


.footer_text p {
    color: white;
    text-align: center;
    font-size: 20px;
}

.footer_text h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: "Open Sans";
}

#toggle {
    opacity: 0;
}

.btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 1;
}

.btn span,
.btn span::before,
.btn span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(81, 81, 81);
    transition: 0.8s ease 0s;
}

.btn span::before {
    content: "";
    top: -8px;
}

.btn span::after {
    content: "";
    top: 8px;
}

.menu2 {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 70%;
    height: 100%;
    padding: 80px 0px;
    background-color: #FFFFFF;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
    transition: 0.7s ease 0s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu__item2 {
    display: block;
    padding: 15px 20px;
    font-size: 24px;
    font-weight: 600px;
    font-family: "Open Sans";
    color: #0088A2;
    /* border-bottom: 1px solid black; */
    text-decoration: none;
    transition: 0.8s ease;
    position: relative;
}

.menu__item2:hover {
    background: #0088A2;
    color: #FFFFFF;

}

#toggle:checked~.btn span {
    transform: rotate(45deg);
}

#toggle:checked~.btn span::before {
    transform: rotate(-90deg);
    top: 0;


}

#toggle:checked~.btn span::after {
    transform: rotate(0);
    top: 0;
}

#toggle:checked~.menu2 {
    left: 0%;
    visibility: visible;
}

.menu__item2::after {
    content: '';
    width: 70%;
    height: 1px;
    background-color: #0088A2;
    position: absolute;
    bottom: -10%;
    left: 0;
}